Manual Testing Project 


Test Scenarios


1. The shop’s homepage needs to be user-friendly, while at the same time highlighting the shop’s products. 
2. The header will be displayed at the top of evry page of the store. 
3. Clicking on the store logo will direct the user back to the home page.
4. The customer can select which currency the store’s products wilkl be displayed by clicking on the currency icons. 
5. Shopping cart should display the number of total items purchased with the total price of the items. 
6. Should be an option of view cart to view the cart
7. Checkout cart option should be added to order all the items in one go. 
8. The customer can type in the search box to search for a product within fromthe store’s product categories. 
9. The customer should be linked to the homepage, wishlist, my account, shopping cart and checkout. 
10. Company telephone number should be mentioned 
11. Customer can register or log in from here 
12. The top parent category only displays the top parent categories of the products. 
13. Like header, the top menu will be displayed on every page, while hovering the mouse over it , a drop down menu will open and display the sub categories for that parent category. 
14. When a parent category is clicked the customer will be directed to the category page, which displays all the products with in that category.   
15. The slideshow display several product banners of your choice by alternating the images in a slideshow. 
16. After a certain amount of time, one banner will shift to the next banner. 
17. When the banner is clicked on, the customer will be directed to the product on the banner’s page. 
18. The slideshow in the open cart default can only be viewed on the home page in this position.
19.  The featured section includes the product image, name,price and an option to add the product directly to the shopping cart. 
20. The footer is located at the bottom of evry page, not just the home page. 
21. The Footer should include about us, delivery information, privacy policy, terms & conditions, contact us, returns, site map, brands, gift vouchers, affiliates, specials,my account, order history, wish list, newsletter
22. Clicking on the main image will expand the image within the window for the customer to see it in greater detail. 
23. The product code, availability and price are displayed just right to the product image. 
24. The customer can select a quantity and add the product to their cart, wish list or compare.
25. Underneath the cart can rate the product and share the product on different social media websites. 
26. An area underneath the main product information to provide a detailed description of the product. 
27. An area for the customer to write a review on the product. 
28. On product pages, customer can access the category product listing page by clicking on a category on the left side category block.
29. The add to compare feature in the product section allows the customer to compare the different specifications, features and price of a number of products customer  might be interested in. the customer is given the option to add one of the compared products to the cart if they want to. 
30. Pressing continue will bring the user back to the home page. 
31. The customer has an option to add a coupon code or gift voucher, or estimate shipping & taxes, before healing to the checkout. 
32. The continue shopping button links back to the homepage.
33. Before a customer can continue checking out a product from the shopping cart, the customer needs to select either guest checkout or log into their account. 
34. The guest checkout doesn’t require log-in details. 


Login page 


1. The check out process will allow the user to create an account if not registered before continuing with the payment. 
2. Account & billing will ask for the same personal details as billing , except it will ask the user to create password. 
3. After account creation, the customer will be able to continue with the checkout process.
4. Clicking my account in the header will show the option for customer to the login or create account . it gives customer an option to log in if they already have an account , or create  a new account. 
5. In the new customer section the customer can click continue under register account to be directed to the register an account page.   




Check out 


1. The checkout page can be accessed in the header section of every page, found under the search box. 
2. A comment box is added for the customer to add comments about their order delivery.